.home {
  .homeContent {
    background: linear-gradient(115deg, $color-1 50%, transparent 100%);
    min-height: $minHeight;
    width: 100%;
    min-height: 500px;
    overflow: hidden;
    position: relative;
    border-radius: $borderRadius;
    &:after {
      content: "";
      position: absolute;
      height: 100%;
      width: inherit;
      background: url("../../media/boriscode.jpg") no-repeat center/ cover;
      z-index: -1;
      filter: brightness(30%);
    }
    .content {
      position: absolute;
      top: 20%;
      left: 13%;
      font-family: $font-1;
      h1 {
        font-size: 3rem;
        font-weight: 300 !important;
        color: $color-5;
        text-shadow: 3px 6px 2px $black;
        text-transform: uppercase;
      }
      h2 {
        font-size: 2.5rem;
        padding: 1.5ren 0 7rem;
        color: $color-3;
        text-shadow: 1px 4px 1px $black;
        transition: 0.2s ease;
      }
      .pdf {
        a {
          // font-size: 1.5rem;
          background: $color-3;
          border-radius: $borderRadius;
          padding: 12px;
          box-shadow: 0 5px 1px rgb(15, 15, 15);
          &:hover {
            background: $color-2;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 850px) {
  .homeContent {
    margin: 0 !important;
  }
}
@media screen and (max-width: 580px) {
  .homeContent {
    &:after {
      background: url(../../media/boriscode.jpg) no-repeat 60% 50% / cover !important;
    }
    h1 {
      font-size: 2rem !important;
    }
    h2 {
      font-size: 1.8rem !important;
    }
  }
}
// @media screen and (max-width: 375px) {
//   .homeContent {
//     h1 {
//       font-size: 1.4rem !important;
      
//     }
//   }
// }

.responsive-img {
  display: none;
}

@media screen and (max-width: 850px) {
  .responsive-img {
    display: block;
  }
}
.tooltip-custom {
  z-index: 9999 !important;

}
@media screen and (max-width: 580px) {
  .tooltip-custom {
    max-width: 200px !important;
  }
}
