@import url("https://fonts.googleapis.com/css2?family=Italianno&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nova+Round&family=Parkinsans:wght@300..800&family=Playwrite+HU:wght@100..400&family=Playwrite+PE+Guides&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Italianno&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nova+Round&family=Parkinsans:wght@300..800&family=Playwrite+HU:wght@100..400&family=Playwrite+PE+Guides&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Italianno&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nova+Round&family=Parkinsans:wght@300..800&family=Playwrite+HU:wght@100..400&family=Playwrite+PE+Guides&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

//font
$font-1: "Nova Round", cursive;
$font-2: "Dosis", sans-serif;
$font-3: "Josefin Sans", sans-serif;
// // colors
// $color-1: #2a1d52;
// $color-2: #6c77f4;
// $color-3: rgb(99, 164, 233);
// $color-4: #4fedd2;
// $color-5: #36d0ea;
// $white: #ddd;
// $black: #333;
// couleurs pro
$color-1: #1e3a8a; // Bleu profond (header, hover)
$color-2: #3b82f6; // Bleu clair (titres, icônes)
$color-3: #f3f4f6; // Gris clair (fond principal)
$color-4: #111827; // Gris très foncé (texte foncé, zones sombres)
$color-5: #ffffff; // Blanc (contenu, cartes)

$white: #ffffff; // Fond clair
$black: #000000; // Contraste fort

// border radius and shadow
$borderRadius: 25px;
$shadow: 0 1px 3 #333;
$minHeight: 95vh;

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
//reglages de bases
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
body {
  margin: 1rem auto;
  max-width: 1200px;
  font-family: $font-1;
  color: $black;
  background-color: $color-1;
}
button {
  cursor: pointer;
}
a {
  color: $black;
}
a:visited {
  color: $black;
}
.home,
.knowledges,
.porfolio,
.contact,
.contact {
  display: flex;
  @media screen and (max-width: 850px) {
    display: block !important;
  }
}
.homeContent,
.knowledgesContent,
.portfolioContent,
.contactConent {
  margin-left: 0.4rem;
  @media screen and (max-width: 850px) {
    margin-left: 0 !important;
  }
}
